.salad_image img{
    width: 5rem;
    height: 5rem;
}
.table {
    width: 100%;
}

.salad_container{
    display: flex;
    flex-direction: row;
    width: 144%;
    
    
}
.first_division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    
}
.second_division{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
   width: 100%;
   gap: 6.5rem;
    
    
}
.countHandler{
    border-radius: 26px;
    background-color: #1fad14;
    font-weight: bolder;
    border: none;
    text-align: center;
    width: 6rem;
}
.countHandler input {
    width: 20px;
    text-align: center;
    font-weight: bolder;
    background-color: #1fad14;
    color: white;
    border: none;
  }

  .countHandler button{
    background-color: #1fad14;
    font-weight: bolder;
    border: none;
    color: white;
  }
  .dish_description p {
    margin-bottom: 0rem;
  }

  .salad_price p {
    margin-bottom: 0rem;
    font-weight: 600;
  }

  .salad_name h5 {
    margin-bottom: 0rem;
  }
  .dish_Availability p{
     color: red;
  }