.salad_image img{
    width: 5rem;
    height: 5rem;
}
.table {
    width: 100%;
}

.salad_container{
    display: flex;
    flex-direction: row;
    width: 144%;
    
    
}
.first_division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    
}
.second_division{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
   width: 100%;
   gap: 6.5rem;
    
    
}